<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create Users</a>
      <a href="/update">Update Users</a>
    </div>
    <h2>List Users</h2>
    <table>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
        <th>Actions</th>
      </tr>

      <% listUser.forEach(function(user) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.city %></td>
        <td>
          <a href="/update/<%= user.id %>">Edit</a>
          <form action="/delete-user/<%= user.id %>" method="get">
            <button>Delete</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
